.homelist{
	padding: 1px;
	font-size: 1px;
}

.picColumn{
/*	color: blue;
	writing-mode: vertical-lr;
    text-orientation: mixed;
    background-color: white !important;*/
    background-color:#FFFFFF;
    margin-top:10px;
    overflow: hidden;
    width: 100px;

}

.picColumn img{
	width: 100px;
	overflow: hidden;

}

/*.homesidepane.active{
	
	background-color: #000000 !important;
	overflow: hidden;
} */

.homesidepane img{
	height: 100%;
} 

h2{font-weight: bold;
color: #0000e6;
background-color: white;}

h3{
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	color: #096eb3;
}

.btn-primary,
.btn-primary:visited
{
	background-color: #ee2024;
}

.btn-primary:hover
{
	background-color: #096eb3;
}

.btn-primary:active,
.btn-primary:focus
{
	background-color: #204b6d !important;
}
